_not_needed/
.idea/
python/__pycache__/PlotlyBarChart.cpython-35.pyc
python/__pycache__/PlotlyBarChart_5_Bars.cpython-35.pyc
python/a_question_Answered_Yes_No_Tier_Percentage_2009_until_2016_ALL_tier_any.csv
python/d_create_Big_CSV_2009_until_2016_BIGDATA_ALL.csv
