_not_needed/
.idea/
python/__pycache__/PlotlyBarChart.cpython-35.pyc
python/__pycache__/PlotlyBarChart_5_Bars.cpython-35.pyc
python/a_question_Answered_Yes_No_Tier_Percentage_2009_until_2016_ALL_tier_any.csv
python/d_create_Big_CSV_2009_until_2016_BIGDATA_ALL.csv
python/__pycache__/r_rest_Calculate_Data.cpython-35.pyc
python/__pycache__/r_rest_Notification_Panel.cpython-35.pyc
python/a_author_Information.csv
python/batch_files/2009_backward.bat
python/batch_files/2009_forward.bat
python/batch_files/2010_backward.bat
python/batch_files/2010_forward.bat
python/batch_files/2011_backward.bat
python/batch_files/2011_forward.bat
python/batch_files/2012_backward.bat
python/batch_files/2012_forward.bat
python/batch_files/2013_backward.bat
python/batch_files/2013_forward.bat
python/batch_files/2014_backward.bat
python/batch_files/2014_forward.bat
python/batch_files/2015_backward.bat
python/batch_files/2015_forward.bat
python/batch_files/2016_backward.bat
python/batch_files/2016_forward.bat
python/a_author_Information_iama.csv
python/a_author_Information_random.csv
website/js/bootstrap3-dialog/bootstrap3-dialog-master.zip
*.pyc
python/a_author_Information_random_old.csv
python_n_webpage/uni_r_test_acc_1.txt
